{% extends 'reviews/base.html' %}

{% block title %}
    Review detail
{% endblock title %}

{% block content %}
    <h1>Review Detail</h1>
     <h1>Name: {{ review.username }}</h1> 
     <h2>Rating: ({{ review.rating }}/5):</h2>
     <p>Feedback: {{ review.review_text }}</p>
     <br>
     <br>
     <a href="{% url 'review_list' %}">Back to all reviews</a>
     {% if is_favorite %}
        <strong>This is your favorite review!</strong>
     
        {%else%}
            <form action="/reviews/favorite"method="POST">
                {% csrf_token %}
                    <input type="hidden" name="review_id" value="{{ review.id }}">
                <button>Favorite</button>
            </form>
    {% endif %}
{% endblock content %}